body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
   }

h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1) ;
    border-collapse: collapse;
    text-align: center;
    margin: 15px; 
    padding: 15px;
}


table, th, td {
  border: 1px solid black;
  padding: 15px;
}

.heading{
    background-color: aquamarine;
}

.btn{
    background-color: aquamarine;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5 ease-in-out;
}

.btn:hover{
    background-color: rgb(26, 101, 76);
    transform: scale(1.1);
}
